spring:
  application:
    name: notification-service
  config:
    import: optional:configserver:http://localhost:8888/config
  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 3
