server:
  port: 8080

spring:
  application:
    name: booking-service
  config:
    import: optional:configserver:http://localhost:8888/config

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/