apiVersion: v1
kind: ConfigMap
metadata:
  name: booking-config
  namespace: default
data:
  application.yml: |
    spring:
      datasource:
        url: jdbc:h2:mem:bookingdb
        driver-class-name: org.h2.Driver
        username: sa
        password:
      jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
          ddl-auto: update
        show-sql: true
      h2:
        console:
          enabled: true
          path: /h2-console
          settings:
            web-allow-others: true
      kafka:
        bootstrap-servers: kafka:9092
        consumer:
          group-id: booking-service
          auto-offset-reset: earliest
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: com.example.bookingservice.deserializer.BookingRequestDeserializer
        producer:
          bootstrap-servers: kafka:9092
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.apache.kafka.common.serialization.StringSerializer
