apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-config
  namespace: default
data:
  application.yml: |
    spring:
      r2dbc:
        url: r2dbc:h2:mem:///notificationdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: sa
        password:
      h2:
        console:
          enabled: true
      data:
        redis:
          host: redis
          port: 6379
          timeout: 2000ms
    kafka:
      bootstrap-servers: kafka:9092
      consumer:
        group-id: notification-service-group
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      topics:
        booking-requests: booking-requests
    logging:
      level:
        com.example.notificationservice: DEBUG
        reactor.kafka: DEBUG
        io.r2dbc: DEBUG
